*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 30px;
}

.input {
    text-align: center;
}

.recent-search-item {
    cursor: pointer;
    background-color: rgb(204, 196, 196);
    padding: 8px;
    margin: 10px 0 ;
}

.forecast-row {
    display: flex;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
    
}
.card {
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    
}

.btn {
    background: gray;
}

.container-fluid {
    background:rgb(204, 196, 196);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: 1em;
    justify-content: center;
}